.content-width(@left-padding; @right-padding; @grid-width) {
  padding-left: @left-padding;
  padding-right: @right-padding;
  width: @grid-width - @left-padding - @right-padding;
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.font-param(@size; @height; @weight; @color) {
  font-size: @size;
  line-height: @height;
  font-weight: @weight;
  color: @color;
}
