.page {

  &--catalog,
  &--form {

    @media@tablet-width {

      .main-nav__item--cart {
        width: 189px;
        padding-right: 50px;

        svg {
          margin-right: 31px;
        }
      }
    }

    @media@desktop-width {
      header,
      section,
      footer {
        width: 1150px;
      }

      .main-nav {
        width: 1150px;
        //margin-left: 1150px / 2 * -1;
      }

      //Меняю отступы у элементов меню для более узких страниц
      .main-nav__item--logo {
        padding: 8px 100px 13px 63px;
      }

      .main-nav__item--catalog {
        padding-left: 49px;
      }

      .main-nav__item--cart {
        padding-right: 53px;
      }

      //Уменьшаю отступы для дополнительной навигации
      .main-nav__link--new {
        margin-left: 50px;
      }

      .main-nav__link--sale {
        margin-left: 62px;
      }

      .main-nav__link--delivery {
        margin-right: 50px;
      }

      //Меняю отступы для элементов футера
      .page-footer__logo {
        margin-left: 51px;
      }

      .page-footer__copyright-container {
        margin-right: 51px;
      }
    }
  }

  &--form {

    @media @tablet-width {

      .main-nav__item--cart {

        svg {
          margin-right: 27px;
        }
      }
    }

    @media@desktop-width {

      .page-footer__copyright-container {
        margin-top: 32px;
      }
    }
  }
}
