body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 30px;
  font-style: normal;
  color: @font-color;
  background-color: @main-color;
  position: relative;
}

a:active,
a:hover {
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

svg path {
  fill: inherit;
}

input, textarea {
  outline:none;
}

input:active,
textarea:active {
  outline:none;
}

:focus {
  outline:none;
}

header,
section,
footer {
  min-width: 320px;

  @media@tablet-width {
    min-width: 768px;
  }

  @media@desktop-width {
    min-width: 1150px;
  }
}

.page-header--main .icon-cart,
.page-header--catalog .icon-cart {

  @media (min-width: 768px) {
    margin-right: 29px;
  }
}

.page-header--catalog .main-nav__item--cart {

  @media (min-width: 1150px) {
    padding-left: 77px;
  }
}

.page-header--catalog .icon-cart {

  @media (min-width: 1150px) {
    margin-left: -45px;
  }
}
