body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 30px;
  font-style: normal;
  color: @font-color;
  background-color: @main-color;
  position: relative;
  padding-top: 79px;

  @media@tablet-width {
    padding-top: 88px;
  }
}

a:active,
a:hover {
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

header,
section,
footer {
  min-width: 320px;

  @media@tablet-width {
    min-width: 768px;
  }

  @media@desktop-width {
    min-width: 1150px;
  }
}

.page-header--main .main-nav__link--logo:hover,
.page-header--main .main-nav__link--logo:active,
.page-header--catalog .main-nav__item--catalog a:hover,
.page-header--catalog .main-nav__item--catalog a:active {
  opacity: 1;
}

.page-header--main .main-nav__item--cart svg {
  @media (min-width: 768px) {
    margin-right: 29px;
  }
}
