.btn {

  &--review {}

  &--write-us {}

  &--popular-order {
    display: block;
    padding: 15px;
    text-align: center;
    border: 2px solid @second-font-color;
    text-decoration: none;
    text-transform: uppercase;
    .font-param(17px; 20px; bold; @second-font-color);

  }

  &--catalog-order {}

  &--video-order {}

  &--send-order {}

  &--modal-close {}
}
