.page-header {
  position: relative;
  padding-top: 80px;
  background: @default-bg url("/img/hero-mobile@1x.jpg") no-repeat 50% 32%;

  &__title {
    font-size: 27px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: @font-color;
    margin: 0;
    padding: 70px 30px 123px;
  }
}
