.about-us {
  .decor-wave(0px; "wave-mobile"; 7px);

  @media@tablet-width {
    .decor-wave(0px; "wave-tablet"; 17px);
  }

  @media@desktop-width {
    .decor-wave(0px; "wave-desktop"; 24px);
  }

  &__wrapper {
    .container();
    .max-width-container();
    padding: 24px 29px 14px;

    @media@tablet-width {
      padding-top: 25px;
      padding-bottom: 35px;
    }

    @media@desktop-width {
      padding: 24px 0 67px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 56px;
    padding-top: 11px;
    .font-param(25px; 30px; bold; @font-color);

    @media@tablet-width {
      font-size: 43px;
      line-height: 50px;
      margin-left: 16px;
      margin-bottom: 70px;
      padding-top: 41px;
    }

    @media@desktop-width {
      margin-top: 17px;
      margin-bottom: 69px;
      margin-left: 222px;
      font-size: 53px;
      line-height: 57px;
    }

    @media(min-width: 1250px) {
      margin-left: 241px;
    }
  }
}
