.catalog-list {

  @media@tablet-width {
    .decor-wave(-17px; "wave-white-tablet"; 25px);
  }

  @media@desktop-width {
    .decor-wave(-24px; "wave-white-desktop"; 35px);
  }

  &__wrapper {
    .container();
    .max-width-container();
    padding: 30px 30px 58px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    @media@tablet-width {
      padding: 75px 50px 63px;
    }

    @media@desktop-width {
      justify-content: space-around;
      padding: 124px 24px 105px;
    }
  }


}
