.catalog-list {
  padding: 30px 30px 58px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  @media@tablet-width {
    padding: 80px 50px 63px;
    .decor-wave(-12px; "wave-white-tablet"; 25px);
  }

  @media@desktop-width {
    justify-content: space-around;
    padding: 129px 24px 105px;
    .decor-wave(-17px; "wave-white-desktop"; 35px);
  }
}
