.categories-list {
  .unstyled-list();
  font-size: 0;

  @media@tablet-width {
    margin: 0 auto;
    width: 668px;
  }

  &__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    @media@tablet-width {
      margin: 0;
      padding: 0;
      width: 50%;
    }
  }

  &__link {
    display: block;
    padding: 26px 120px 29px 29px;
    background-color: @accent-color;
    .font-param(19px; 24px; bold; @main-color);
    .unstyled-link();

    @media@tablet-width {
      padding: 28px 180px 30px 35px;
      .font-param(20px; 30px; bold; @main-color);
    }

    &::after {
      content: "";
      width: 41px;
      height: 62px;
      position: absolute;
      top: 23px;
      right: 36px;
      color: @accent-color;
      opacity: 0.5;
      background: url("/img/icon-interior-copy.svg") no-repeat 50% 50%;

      @media@tablet-width {
        top: 28px;
      }
    }

    &:hover::after {
      opacity: 0.7;
    }

    &:active::after {
      opacity: 0.3;
    }
  }

  &__item--toys a {
    background-color: #56c3b2;
    &::after {
      width: 61px;
      height: 61px;
      top: 19px;
      right: 27px;
      background: url("/img/icon-toy-copy.svg") no-repeat 50% 50%;

      @media@tablet-width {
        top: 29px;
        right: 33px;
      }
    }
  }
}
