.categories-list {
  .unstyled-list();

  &__item {
    position: relative;
    display: inline-block;
    font-size: 0;
  }

  &__link {
    display: block;
    padding: 25px 120px 30px 30px;
    background-color: @accent-color;
    .font-param(19px; 24px; bold; @main-color);
    .unstyled-link();

    &::after {
      content: "";
      width: 41px;
      height: 62px;
      position: absolute;
      top: 23px;
      right: 36px;
      color: @accent-color;
      opacity: 0.5;
      background: url("/img/icon-interior-copy.svg") no-repeat 50% 50%;
    }

    &:hover::after {
      opacity: 0.7;
    }

    &:visited::after {
      opacity: 0.3;
    }
  }

  &__item--toys a {
    background-color: #56c3b2;
    &::after {
      width: 61px;
      height: 61px;
      top: 19px;
      right: 27px;
      background: url("/img/icon-toy-copy.svg") no-repeat 50% 50%;
    }
  }
}
