.main-nav {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 50;
  .container();
  margin-left: @width / 2 * -1;

  display: flex;
  justify-content: stretch;
  align-items: center;
  align-content: stretch;
  flex-wrap: wrap;

  &__item {
    height: 79px;
    flex-grow: 1;
    border-bottom: 1px solid @border-color;
  }

  &__link {
    .font-param(17px; 24px; bold; @font-color);
    .unstyled-link();
    display: block;
  }

  &__item--logo {
    flex-basis: 86px;
    padding-top: 22px;
    height: 57px;
    padding-left: 50px;
    background-color: @main-color;
  }

  &__item--toggle {
    flex-basis: 51px;
    flex-grow: 0;
    padding-top: 29px;
    height: 50px;
    background-color: @main-color;

    &-open {
      a {
        background: url("/img/icon-menu-open.svg") no-repeat center center;
      }

      ~ .main-nav__item {
        display: none;
      }
    }

    &-close {
      a {
        background: url("/img/icon-menu-close.svg") no-repeat center center;
      }

      ~ main-nav__item {
        display: block;
      }
    }
  }

  &__item--catalog,
  &__item--knitting,
  &__item--src,
  &__item--cart {
    padding-top: 26px;
    padding-left: 75px;
    height: 52px;
    width: 245px;
    background-color: @main-color;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__link--src,
  &__link--cart  {
    display: block;
    svg {
      margin-right: 23px;
      margin-bottom: -5px;
      margin-left: -43px;
      fill: @font-color;
      opacity: 0.2;
    }

    &:hover {
      svg {
        fill: @accent-color;
        opacity: 1;
      }
    }

    &:active {
      svg {
        fill: @accent-color;
        opacity: 0.3;
      }
    }
  }

  &__link--cart {
    svg {
      margin-right: 20px;
    }
  }

  &__item--mobile-hidden {
    display: none;

    @media@tablet-width {
      display: flex;
      justify-content: space-between;

      .main-nav__link--only-desktop {
        display: none;
      }
    }

    @media@desktop-width {

      .main-nav__link--only-desktop {
        display: block;
      }
    }
  }

  &__link--logo {
    height: 35px;
    font-size: 0;
    background: url("/img/logo-mobile.svg") no-repeat bottom center;
  }

  &__link--toggle {
    width: 20px;
    height: 20px;
    font-size: 0;
  }
}

