.order {
  background-color: @main-color;

  @media@tablet-width {
    .decor-wave(-17px; "wave-white-tablet"; 25px);
  }

  @media@desktop-width {
    .decor-wave(-24px; "wave-white-desktop"; 35px);
  }

  &__wrapper {
    .container();
    .max-width-container();
    padding: 22px 30px 0;

    @media@tablet-width {
      padding: 69px 0 0;
    }

    @media@desktop-width {
      padding-top: 70px;
    }
  }

  &__desc {
    padding-bottom: 9px;
    .font-param(13px; 24px; normal; @second-font-color);

    @media@tablet-width {
      font-size: 17px;
      line-height: 30px;
      padding-left: 50px;
      padding-right: 50px;
    }

    @media@desktop-width {
      margin: 0 auto;
      width: 698px;
      padding-top: 45px;
    }
  }
}
