.page-header {
  position: relative;
  background: @main-color;
  height: 79px;
  border-bottom: 1px solid @border-color;

  @media@tablet-width {
    height: 88px;
  }
}

.page-header--no-js {
  @media@mobile-width-only {
    height: 395px;
  }
}
