.page-footer {
  background-color: @default-bg;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;

  &__logo {
    display: none;
  }

  &__copyright-container {
    height: 80px;
    margin: auto;
  }

  &__copyright-link {
    display: block;
    font-size: 0;
    .unstyled-link();
    .font-param(17px; 20px; bold; @font-color);

    svg {
      margin-top: 22px;
      width: 27px;
      height: 35px;
      fill: @accent-color;
    }

    &:hover svg {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;

      svg {
        fill: #46c1ae;
      }
    }
  }

  &__copyright-text {
    margin-top: -30px;
    margin-right: 25px;
    margin-left: -4px;
    display: inline-block;
    vertical-align: middle;
    .font-param(19px; 18px; bold; @font-color);
  }

}
