.popular-product {
  padding: 28px 30px 34px;

  @media@tablet-width {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-bottom: 49px;
    .decor-wave(-12px; "wave-white-tablet"; 25px);
  }

  @media@desktop-width {
    padding-top: 43px;
    .decor-wave(-17px; "wave-white-desktop"; 35px);
  }

  &__title {
    margin: 0;
    padding-bottom: 5px;
    .font-param(25px; 30px; bold; @font-color);

    @media@tablet-width {
      margin: 18px auto 23px 17px;
      .font-param(43px; 50px; bold; @font-color);
    }

    @media@desktop-width {
      font-size: 53px;
      line-height: 57px;
      margin-left: 7px;
      padding-top: 63px;
      z-index: 1;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    @media@tablet-width {
      position: relative;
      flex-wrap: wrap;
      min-height: 415px;
      flex-basis: 708px;
      margin-top: 21px;
      margin-right: auto;
    }

    @media@desktop-width {
      align-content: flex-end;
      margin-right: 70px;
      flex-basis: 1050px;
      margin-bottom: 24px;
    }

  }

  &__desc {
    margin: 23px 0 17px;
    .font-param(15px; 24px; normal; @second-font-color);

    @media@tablet-width {
      margin: 0 auto 17px 20px;
      width: 290px;
      height: 80px;
      .font-param(17px; 30px; normal; @second-font-color);
    }

    @media@desktop-width {
      margin-left: 175px;
    }
  }

  &__definition-container {
    margin: 0;
    margin-bottom: 28px;
    display: table;
    border-collapse: collapse;

    @media@tablet-width {
      margin: 29px auto 56px 20px;
      width: 290px;
    }

    @media@desktop-width {
      margin: 43px auto 109px 175px;
    }
  }

  &__def-row {
    display: table-row;
    border-bottom: 1px solid @border-color;
  }

  &__def-param,
  &__def-value {
    display: table-cell;
    text-align: left;
    padding: 10px 29px 9px 0;
    .font-param(15px; 20px; normal; @second-font-color);

    @media@tablet-width {
      padding: 9px 0px 10px 0;
    }

    @media@desktop-width {
      padding: 7px 0px 12px 0;
    }
  }

  &__def-value {
    padding-right: 0;
  }

  &__img {
    margin-bottom: 24px;

    @media@tablet-width {
      position: absolute;
      top: 8px;
      right: 21px;
      width: 333px;
      height: 404px;
    }

    @media@desktop-width {
      width: 525px;
      height: 636px;
      top: -158px;
      right: 0;
    }
  }

  &__price {
    margin-bottom: 26px;
    text-align: center;
    .font-param(17px; 24px; bold; @second-font-color);

    @media@tablet-width {
      font-size: 20px;
      margin-left: 17px;
      margin-bottom: 34px;
      width: 292px;
    }

    @media@desktop-width {
      margin: 0 12px 33px 175px;
    }
  }
}
