.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 9px;
  width: 260px;
  height: 80px;
  font-size: 0;
  border-bottom: 1px solid #e5e5e5;


  &__link {
    padding: 0 20px;
    font-size: 0;
    .unstyled-link();
  }
}
